# Telegram Bot
TELEGRAM_BOT_TOKEN=8982656423:AAHb1ftu20_KD-DFmXJ4wmAvcGTDtlMXB5wdocker run --name postgres-bot -e POSTGRES_PASSWORD=password -d -p 5432:5432 postgres:15docker run --name postgres-bot -e POSTGRES_PASSWORD=password -d -p 5432:5432 postgres:15docker run --name postgres-bot -e POSTGRES_PASSWORD=password -d -p 5432:5432 postgres:15

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=telegram_bot

# Server
SERVER_PORT=8080

# Storage
STORAGE_TYPE=local
LOCAL_STORAGE_PATH=./media
